
/* ==========================
   ABOUT SECTION
   - General layout and styling for about section.
========================== */

.about-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-heading{
    font-size: calc((var(--vh, 1vh) * 100) / 50 + 2.5vw);
}

.about-navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.about-navbar li {
    font-size: calc((var(--vh, 1vh) * 100) / 90 + 0.7vw);
    cursor: pointer;
    padding: 0.4em 4vw;
    background-color: rgb(15,15,15);
    color: rgb(248, 249, 253);
    border: 1px solid rgb(var(--text-color));
    transition: background-color 0.3s, color 0.3s;
}
.about-navbar li.active{
    background-color: rgb(248, 249, 253);
    color: rgb(15,15,15);
}

body.hasHover .about-navbar li:hover {
    background-color: rgb(40, 40, 40); 
    color: rgb(248, 249, 253);
}

body.hasHover .about-navbar li.active:hover {
    background-color: rgb(248, 249, 253);
    color: rgb(15,15,15);
    cursor: default;
}

.about-container-wrapper{
    display: flex;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 85);
}

.about-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Switch tabs code */
.section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    height: calc(var(--vh, 1vh) * 90);
  }

/* Timeline style */
.timeline {
    position: relative;
    width: 100%;
    height: calc(var(--vh, 1vh) * 85);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.milestone {
    position: relative; 
    padding: 2vh 0;
}

.milestone::before {
    content: ''; 
    position: absolute;
    left: calc((var(--vh, 1vh) * 100) / 99 + 0.1vw);
    border-radius: 120px;
    bottom: -16vh;
    top: 90%;
    width: 3px;
    background-color: rgb(var(--text-color));
    z-index: 1;
}

.milestone:last-child::before {
    display: none; 
}

.circle {
    position: absolute;
    top: calc(50% - 1vw); 
    width: calc((var(--vh, 1vh) * 100) / 70 + 0.7vw); 
    height: calc((var(--vh, 1vh) * 100) / 70 + 0.7vw);
    background-color: rgb(var(--text-color));
    border-radius: 50%;
    z-index: 2;
}

.milestone .circle.present {
    width: calc((var(--vh, 1vh) * 100) / 70 + 0.7vw); 
    height: calc((var(--vh, 1vh) * 100) / 70 + 0.7vw);
    background-color: rgb(var(--text-color));
    border: 0.25em solid rgb(var(--highlight-color));
    box-shadow: 0vw 0vw 0.3vw 0.3vw rgba(var(--highlight-color), 0.4);
}

.milestone-content {
    padding-left: calc((var(--vh, 1vh) * 100) / 40 + 3.1vw); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-and-location h2{
    font-size: calc((var(--vh, 1vh) * 100) / 40 + 1vw);
}

.name-and-location p{
    font-size: calc((var(--vh, 1vh) * 100) / 70 + 0.7vw);
}

.journey-context{
    font-size: calc((var(--vh, 1vh) * 100) / 70 + 0.4vw);
    padding-left: calc((var(--vh, 1vh) * 100) / 40 + 3.1vw); ; 
    width: 65%;
    margin: 0.25em 0;
}

.year p{
    font-size: calc((var(--vh, 1vh) * 100) / 70 + 0.6vw);
    font-weight: bold;
}

@media (max-width: 600px) {

    .milestone-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .journey-context{
        width: 90%;
        margin: 0.35em 0;
    }

    .about-container-wrapper{
        height: calc(var(--vh, 1vh) * 90);
    }
}

@media (min-width: 601px) and (max-width: 900px) {

    .milestone-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .journey-context{
        font-size: calc((var(--vh, 1vh) * 100) / 80 + 0.8vw);
        width: 90%;
        margin: 0.35em 0;
    }
}
