
/* ==========================
   ABOUT SECTION
   - General layout and styling for about section.
========================== */

.about-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-heading{
    font-size: calc((var(--vh, 1vh) * 100) / 50 + 3vw);
}

.about-navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.about-navbar li {
    font-size: calc((var(--vh, 1vh) * 100) / 90 + 0.8vw);
    cursor: pointer;
    padding: 0.5em 2.5em;
    background-color: rgb(var(--text-color));
    color: rgb(var(--background-color));
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid rgb(var(--text-color));
}
.about-navbar li.active{
    background-color: rgb(var(--background-color));
    color: rgb(var(--highlight-color));
}

body.hasHover .about-navbar li:hover {
    background-color: rgb(var(--background-color));
    color: rgb(var(--text-color));
}

body.hasHover .about-navbar li.active:hover {
    background-color: rgb(var(--background-color));
    color: rgb(var(--highlight-color));
    cursor: default;
}

.about-container-wrapper{
    display: flex;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 85);
}

.about-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Switch tabs code */
.section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

/* Timeline style */
.timeline {
    position: relative;
    width: 100%;
    height: calc(var(--vh, 1vh) * 85);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.milestone {
    position: relative; 
    padding: 2vh 0;
}

.milestone::before {
    content: ''; 
    position: absolute;
    left: 0.8rem;
    border-radius: 120px;
    bottom: -16vh;
    top: 90%;
    width: 0.2rem;
    background-color: rgb(var(--text-color));
    z-index: 1;
}

.milestone:last-child::before {
    display: none; 
}

.circle {
    position: absolute;
    top: calc(50% - 1vw); 
    width: 1.6rem; 
    height: 1.6rem;
    background-color: rgb(var(--text-color));
    border-radius: 50%;
    z-index: 2;
}

.milestone .circle.present {
    width: 2rem; 
    height: 2rem;
    background-color: rgb(var(--text-color));
    border: 0.4em solid rgb(var(--highlight-color));
    box-shadow: 0vw 0vw 8px 8px rgba(var(--highlight-color), 0.4);
}

.milestone-content {
    padding-left: 3.5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-and-location h2{
    font-size: calc((var(--vh, 1vh) * 100) / 50 + 1.2vw);
}

.name-and-location p{
    font-size: calc((var(--vh, 1vh) * 100) / 75 + 1vw);
}

.journey-context{
    font-size: calc((var(--vh, 1vh) * 100) / 80 + 0.6vw);
    padding-left: 3.5rem; 
    width: 70%;
    margin: 0.25em 0;
    text-align: justify;
    text-justify: inter-word;
}

.year p{
    font-size: calc((var(--vh, 1vh) * 100) / 75 + 0.8vw);
    font-weight: bold;
}

@media (max-width: 600px) {

    .milestone-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .journey-context{
        font-size: calc((var(--vh, 1vh) * 100) / 80 + 0.9vw);
        width: 90%;
        margin: 0.35em 0;
    }

    .about-container-wrapper{
        height: calc(var(--vh, 1vh) * 90);
    }
}

@media (min-width: 601px) and (max-width: 900px) {

    .milestone-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .journey-context{
        font-size: calc((var(--vh, 1vh) * 100) / 80 + 0.8vw);
        width: 90%;
        margin: 0.35em 0;
    }
}
