
/* ==========================
   CONTACT ME SECTION
   - General layout and styling for about section.
========================== */

.contact-title{
    font-size:  calc((var(--vh, 1vh) * 100) / 50 + 3vw);
}

.contact-center{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;
}

.contact-container{
    display: flex;
    justify-content: space-between;

}
.contact-image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0.5vw;
}

.contact-image img{
    width :90%;
    object-fit: cover;
}


#contact ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    height: 100%;
    padding: 0;
}

#contact li {
    margin: 0.5vw 0; 
    /* padding: 1.5vw 3vw;  */

} 

#contact li a {
    font-size: calc((var(--vh, 1vh) * 100) / 60 + 1.2vw);
    text-decoration: none;
    color: rgb(var(--text-color));
    transition: color 0.2s ease;

}

#contact li a:hover{
    color: rgb(var(--highlight-color));
}

@media (max-width: 600px) {
    
    .contact-image{
        display: none;
    }

    .contact-content{
        height: 100%;
    }

    .contact-center{
        align-items: center;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .contact-image{
        display: none;
    }
}

