
/* ==========================
   CONTACT ME SECTION
   - General layout and styling for about section.
========================== */

.contact-title{
    font-family: 'JetBrains Mono';
    letter-spacing: -.05em;
    font-size: calc((var(--vh, 1vh) * 100) / 40 + 1.5vw);
    margin-bottom: 0.5em;
}

.contact-center{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 90%;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.contact-content{
    display: flex;
    align-items: center;
}


#contact ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    height: 55%;
    padding: 0;
}

#contact li {
    font-family: 'EB Garamond';
    margin: 0.5vw 0; 
    /* padding: 1.5vw 3vw;  */

} 

#contact li a {
    font-size: calc((var(--vh, 1vh) * 100) / 60 + 1vw);
    text-decoration: none;
    color: rgb(var(--text-color));
    transition: color 0.2s ease;

}

body.hasHover #contact li a:hover{
    color: rgb(var(--highlight-color));
}

@media (max-width: 600px) {

    .contact-content{
        height: 100%;
    }

    #contact ul {
        height: 40%;
    }
}

