/* ==========================
   HOME SECTION
   - General layout and styling for home section.
========================== */

.home-main {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: calc(var(--vh, 1vh) * 97);
    flex-direction: row; 
}

.home-content{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.welcome{
    font-size:  calc((var(--vh, 1vh) * 100) / 60 + 0.8vw);
}

.name{
    margin-top: calc(var(--vh, 1vh) * 3);
    font-size:  calc((var(--vh, 1vh) * 100) / 40 + 1.4vw);
    color: rgb(var(--highlight-color));
}

.title{
    font-size:  calc((var(--vh, 1vh) * 100) / 70 + 0.6vw);
    margin-bottom: calc(var(--vh, 1vh) * 4.5);
}

.summary{
    font-size:  calc((var(--vh, 1vh) * 100) / 60 + 0.5vw);
}

.line-break{
    display: inline-block;
    margin-top: calc(var(--vh, 1vh) * 2.7);
}

.summary a{
    color: inherit;
    font-weight: bold;
}

/* Loader for individual image */
.image-loader {
    position: absolute;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;  
    justify-content: center;
    align-items: center;
    background-color: rgb(var(--background-color)); 
}

/* Spinner animation */
.image-loader-spinner {
    border: 6px solid rgb(var(--text-color));
    border-top: 6px solid rgb(var(--highlight-color)); 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

/* Spin keyframe animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 600px) {

    .home-content{
        width:100%;
    }

    .image-loader-spinner{
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 900px) {

    .home-content{
        width:100%;
    }

    .image-loader-spinner{
        display: none;
    }
}
