/* ==========================
   GLOBAL RESETS
   - Resets styling for standard HTML elements.
========================== */
* {
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

::selection {
    background-color: black;
    color: white;
}

/* ==========================
   BODY AND TEXT STYLING
   - Font and line-height settings.
========================== */
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
}

/* ==========================
   CUSTOM SCROLLBAR STYLING
   - Styles for the browser scrollbar.
========================== */
/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vh;
}
::-webkit-scrollbar-thumb {
    background: red;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: black rgba(0, 0, 0, 0.1);
}

/* ==========================
   CONTENT SECTION
   - General layout and styling for each content section.
========================== */

.all-sections-container{
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.content-section{
    height: calc(var(--vh, 1vh) * 100);
    scroll-snap-align: start;
    padding: 1vh 1vw;
    margin-left: 5vw;  /* Navbar width */
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1.3s ease-out;
    overflow: hidden;
}

.content-section.visible {
    opacity: 1;
}

@media (max-width: 600px) {
    .content-section{
        margin-left: 10vw;  /* Navbar width */
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .content-section{
        margin-left: 8vw;  /* Navbar width */
    }
}


/* @media (max-width: 600px) {

}

@media (min-width: 601px) and (max-width: 900px) {

} */

