/* ==========================
   GLOBAL RESETS
   - Resets styling for standard HTML elements.
========================== */
* {
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

::selection {
    background-color: black;
    color: white;  /* Optional: To change the text color when selected */
  }

/* ==========================
   MOBILE DISPLAY WARNING
   - Style settings for the mobile warning overlay.
========================== */
#mobile-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    padding: 2em;
    z-index: 1001;
    display: none;
}
.mobile-warning-message {
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    font-size: 2rem;
}

/* ==========================
   MAIN CONTENT AREA
   - Styling for the main website content.
========================== */
#main-content {
    display: block;
}

/* ==========================
   BODY AND TEXT STYLING
   - Font and line-height settings.
========================== */
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
}

/* ==========================
   CUSTOM SCROLLBAR STYLING
   - Styles for the browser scrollbar.
========================== */
/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vh;
}
::-webkit-scrollbar-thumb {
    background: red;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: black rgba(0, 0, 0, 0.1);
}

/* ==========================
   SIDEBAR NAVIGATION
   - Fixed sidebar layout and styling.
========================== */
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    height:100vh;
    width:5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2vw 0.5vw;
    border-right: 0.1vw solid #ccc;
}

#navbar .logo{
    max-width: 100%;
}

#navbar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

#navbar ul li{
    line-height: 6vw;
}

#navbar ul li a{
    font-size: 1.1vw;
    display: flex;
    white-space: nowrap;
    justify-content: space-around;
    transform: rotate(-90deg);
    color: black;
    text-decoration: none;
    transition: color 0.4s ease;
}


#navbar ul li a:hover{
    color: red;
}

/* ==========================
   CONTENT SECTION
   - General layout and styling for each content section.
========================== */
.content-section{
    min-height: 100vh;
    padding: 1vw;
    margin-left: 5vw;  /* Navbar width */
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1.3s ease-out;
}

.content-section.visible {
    opacity: 1;
}

/* ==========================
   HOME SECTION
   - General layout and styling for home section.
========================== */

.home-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    margin: 0.5vw 2vw;
}

.home-content{
    width: 60%;
}

.welcome{
    font-size: 2vw;
}

.name{
    font-size: 6vw;
    font-weight: 700;
    font-family: 'Dancing Script';
    text-align: center;
}

.title{
    font-size: 1.5vw;
    line-height: 4em;
    text-align: center;
}

.summary{
    font-size: 1.1vw;
}


.colored-bar{
    /* animation: changeColor 10s infinite; */
    font-weight: bolder;
    font-size: 1.7vw;
    color: red;
}

@keyframes changeColor {
    0% {
        color: red;
    }
    25% {
        color: blue;
    }
    50% {
        color: green;
    }
    75% {
        color: orange;
    }
    100% {
        color: red;
    }
}

.home-image{
    width: 40%;
}
.home-image img{
    width: 100%;
}

/* ==========================
   ABOUT SECTION
   - General layout and styling for about section.
========================== */
.about-navbar {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.about-navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    /* gap: 20px;  */
}

.about-navbar li {
    font-size: 1.3vw;
    cursor: pointer;
    padding: 0.5em 2.5em;
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    border: 0.1vw solid black;
}
.about-navbar li.active{
    background-color: white;
    color: black;
}

.about-navbar li:hover {
    background-color: white;
    color: black;
}

.about-sub-section{
    height: calc(100vh - 4vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Initially hide other divs */
.experience {
    display: none;
}

/* Timeline style */

.timeline {
    position: relative;
    padding-left: 5vw; /* Provides space for the circle and line */
}

.milestone {
    position: relative; /* Allows for positioning children absolutely */
    padding: 3.5vw 0; /* Space above and below each milestone */
}

.milestone::before {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute;
    left: 0.6vw; /* Centering the line with the circle */
    bottom: 0;
    top: 10.5vw ; /* This will make the line appear below the center of the milestone */
    width: 0.25vw;
    margin-bottom: -3.5vw;
    background-color: black;
    z-index: 1; /* Ensure the line is below the circle */
}

.milestone:last-child::before {
    display: none; /* Remove the line for the last (earliest) milestone */
}

.circle {
    position: absolute;
    top: calc(50% - 1vw); 
    width: 1.5vw;
    height: 1.5vw;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
}

.milestone:first-child .circle {
    width: 1.8vw; 
    height: 1.8vw;
    background-color: black;
    border: 0.4vw solid red;
}

.milestone-content {
    padding-left: 4vw; /* Space between circle and milestone content */
    padding-right: 3.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-and-location h2{
    font-size: 2.5vw;
}

.name-and-location p{
    font-size: 1.5vw;
}

.year p{
    font-size: 1.3vw;
    font-weight: bold;
}

/* ==========================
   PROJECTS SECTION
   - General layout and styling for project section.
========================== */

.project-heading{
    font-size: 7vw;
    margin: 0.5vw 2vw;
}

/* Main container */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: black; */
    padding: 2.2em;
  }
  
  /* Individual project cards */
  .project-card {
    flex: 1;
    max-width: calc(50% - 6.6em); /* 50% width of the container minus 40px for margins */
    margin: 1vw;
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0.1vw 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    padding: 1.5vw;
    /* text-align: center; */
  }
  
  /* Project card title */
  .project-card-title {
    font-size: 1.7vw;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Project card description */
  .project-card-description {
    font-size: 1.1vw;
    margin-bottom: 10px;
  }
  
  /* Project card link */
  .project-card-link {
    color: black;
    text-decoration: underline;
  }

  .project-card-link:hover{
    text-decoration: underline;
  }
  

/* ==========================
   CONTACT ME SECTION
   - General layout and styling for about section.
========================== */
.contact-container{
    display: flex;
    justify-content: space-between;

}
.contact-image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0.5vw;
}

.contact-image img{
    width :100%;
    /* height: 50%; */
    object-fit: cover;
}

.contact-title{
    font-size: 7vw;
    margin: 0.5vw 2vw;
}

#contact ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
}

#contact li {
    margin: 0.5vw 0; 
    padding: 1.5vw 3vw; 

} 

#contact li a {
    font-size: 2vw;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease;

}

#contact li a:hover{
    color: red;
}



/* ==========================
   SCROLL BUTTONS
   - Floating buttons for scrolling the page.
========================== */
.scroll-button {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    z-index: 1000;
    font-size: 2vw;
    line-height: 1;
    padding: 0.7vw;
    border: 0.18vw solid black;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.4s ease, color 0.3s ease;
}

.scroll-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 1);
}
#scrollUp {
    bottom: 7vw;
}

